.DraftEditor-root {
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}    

.rdw-image-modal {
    left: -60px;
}


.rdw-emoji-modal {
    left: -140px;
}


// .rdw-link-modal {
//     left: -135px;
// }

//test 45 for 2 window compare

.rdw-embedded-modal {
    left: -100px;
}